<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-7 col-sm-2 col-xs-2">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">Commandes</h6>
            </div>
            <!-- <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1 text-left">
              <button
                class="btn btn-primary btn-md"
                (click)="open(classic3, '', 'sm')"
              >
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <div class="row ">
      <div class="col-md-6 col-lg-4 col-xl-2 mb-3" *ngIf="crudPerms.other">
        <button
          class="btn btn-info btn-sm"
          (click)="exportExcel()"
          type="button"
        >
          <i class="fa-solid fa-download"></i>
          Exporter commandes
        </button>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
        <button
          class="btn btn-primary btn-sm"
          (click)="clearFilter()"
          type="button"
        >
          <i class="fa-solid fa-filter"></i>
          Effacer filtres
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-md-2 mb-3 col-lg-3 mb-lg-2 col-xl-2">
        <ngx-select-dropdown
          [instanceId]="'instance1'"
          [config]="configZone"
          [options]="listZone"
          [(ngModel)]="zoneselect"
          [selectedItemTemplate]="optionTemplate"
          (change)="filterzone()"
          class="col-md-2 p-0"
        >
        </ngx-select-dropdown>
        <ng-template #optionTemplate let-item="item" let-config="config">
        </ng-template>
      </div>
      <div class="col-md-7 mb-md-2 mb-3 col-lg-5 mb-lg-2 col-xl-3">
        <ngx-select-dropdown
          [instanceId]="'instance2'"
          [config]="configModePaiement"
          [(ngModel)]="modepaiementselect"
          [options]="listModePaiement"
          (change)="filterModePaiement()"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div class="col-md-6  mb-md-2 mb-3 col-lg-4 col-xl-2">
        <ngx-select-dropdown
          [instanceId]="'instance3'"
          [(ngModel)]="statutpaiementselect"
          (change)="filterStatutPaiement()"
          [config]="configStatutPaiement"
          [options]="listStatutPaiement"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-4 col-xl-2">
        <ngx-select-dropdown
          [instanceId]="'instance3'"
          [(ngModel)]="statutselect"
          (change)="filterStatut()"
          [config]="configStatut"
          [options]="listStatut"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div
        class="form-group mb-0 mb-3 col-md-12 col-lg-5 col-xl-3"
        [ngClass]="{ focused: focus === true }"
      >
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            class="form-control w-auto"
            [(ngModel)]="commandeId"
            placeholder="Search"
            type="text"
            (focus)="focus = true"
            (blur)="focus = false"
          />
        </div>
      </div>
    </div>
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selectAllRowsOnPage]="false"
    >
      <ngx-datatable-column name="ID Client" prop="idclient"></ngx-datatable-column>
      <ngx-datatable-column name="ID Commande" prop="id"></ngx-datatable-column>
      <ngx-datatable-column name="Montant" prop="montant"></ngx-datatable-column>
      <!-- <ngx-datatable-column
        name="Categorie"
        prop="categorie.nom"
      ></ngx-datatable-column> -->
      <ngx-datatable-column name="Prix unitaire (FCFA)" prop="prix">
      </ngx-datatable-column>
      <ngx-datatable-column name="Promotion" prop="promotion">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            class="badge badge-pill badge-md badge-danger"
            *ngIf="row.promotion"
          >
            -{{ row.promotion.pourcentage }}%
          </span>
          <!-- <span *ngIf="row.promotion.pourcentage" class="badge badge-pill badge-default">
      {{ row.promotion.pourcentage }}%
    </span> -->
          <span *ngIf="!row.promotion"> Aucune Promotion </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Note moyenne" prop="notemoyenne">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-star-rating [note]="row"></app-star-rating>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Création" prop="datecreation">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>
            {{ row.datecreation | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Statut" prop="statut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            class="badge badge-pill badge-md badge-success"
            *ngIf="row.statut == 'Accepté'"
          >
            {{ row.statut | uppercase }}
          </span>
          <span
            class="badge badge-pill badge-md badge-danger"
            *ngIf="row.statut == 'Refusé'"
          >
            {{ row.statut | uppercase }}
          </span>
          <span
            class="badge badge-pill badge-md badge-warning"
            *ngIf="row.statut == 'En attente'"
          >
            {{ row.statut | uppercase }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div>
            <a
              *ngIf="crudPerms.update"
              role="button"
              (click)="onUpdateRow(row); open(classic1, '', 'sm')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="fa-solid fa-pen-to-square mr-2 text-primary fs-5"></i>
            </a>
            <a
              *ngIf="crudPerms.delete"
              role="button"
              (click)="onDeleteRow(row.id); open(classic2, 'Notification', '')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="fa-solid fa-trash-can text-danger mr-2 fs-5"></i>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
