<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
        style="    padding: 23px 0;
        "
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-7 col-sm-2 col">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">Commandes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-7 mb-3" *ngIf="crudPerms.other">
        <button
          class="btn btn-info btn-sm"
          (click)="getFichierCommande()"
          type="button"
          [disabled]="!(page.totalElements>0)"
        >
          <i class="fa-solid fa-download"></i>
          Exporter commandes
        </button>
      </div>
      <div class="col-md-6 col-lg-4 col-5 mb-3">
        <button
          class="btn btn-primary btn-sm"
          (click)="clearFilter()"
          type="button"
        >
          <i class="fa-solid fa-filter"></i>
          Effacer filtres
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-md-2 mb-3 col-lg-5 mb-lg-2 col-xl-3">
        <ngx-select-dropdown
          [instanceId]="'instance1'"
          [config]="configZone"
          [options]="listZone"
          [(ngModel)]="zoneselect"
          (change)="filterzone()"
          class="col-md-2 p-0"
        >
        </ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-4 mb-lg-2 col-xl">
        <ngx-select-dropdown
          [config]="configModePaiement"
          [(ngModel)]="modepaiementselect"
          [options]="listModePaiement"
          (change)="filterModePaiement()"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-3 col-xl">
        <ngx-select-dropdown
          [instanceId]="'instance3'"
          [(ngModel)]="statutpaiementselect"
          (change)="filterStatutPaiement()"
          [config]="configStatutPaiement"
          [options]="listStatutPaiement"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-6 col-xl">
        <ngx-select-dropdown
          [instanceId]="'instance3'"
          [(ngModel)]="statutselect"
          (change)="filterStatut()"
          [config]="configStatut"
          [options]="listStatut"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
        
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-6 col-xl">
        <ngx-select-dropdown
        [instanceId]="'instance4'"
        [(ngModel)]="clientselect"
        (change)="filterClient()"
        [config]="configClient"
        [options]="listClient"
        class="col-md-2 p-0"
      ></ngx-select-dropdown>
      </div>

      <!-- <div
        class="form-group mb-0 mb-3 col-md-12 col-lg-5 col-xl-3"
        [ngClass]="{ focused: focus === true }"
      >
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            class="form-control w-auto"
            [(ngModel)]="commandeId"
            (input)="onsearchCommande($event)"
            placeholder="Rechercher par id"
            type="text"
            (focus)="focus = true"
            (blur)="focus = false"
          />
        </div>
      </div> -->
    </div>
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selectAllRowsOnPage]="false"
    >
      <ngx-datatable-column
        name="Client"
        prop="client.nom"
      ></ngx-datatable-column>
      <!-- <ngx-datatable-column
        name="Code Commande"
        prop="code"
      ></ngx-datatable-column> -->
      <ngx-datatable-column name="Code" prop="code"></ngx-datatable-column>

      <ngx-datatable-column name="Montant Total">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>
            <span>
              {{ row.montanttotal | number }} FCFA
            </span>
          </strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date de création">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>
            {{ row.datecreation | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Statut" prop="statut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
          class="badge badge-pill badge-md badge-success"
          *ngIf="row.statut == 'Validée'"
        >
          {{ row.statut | uppercase }}
        </span>
        <span
          class="badge badge-pill badge-md badge-danger"
          *ngIf="row.statut == 'Annulée'"
        >
          {{ row.statut | uppercase }}
        </span>
        <span
          class="badge badge-pill badge-md badge-info"
          *ngIf="row.statut == 'En attente'"
        >
          {{ row.statut | uppercase }}
        </span>
        <span
        class="badge badge-pill badge-md badge-warning"
        *ngIf="row.statut == 'Enregistrée'"
      >
        {{ row.statut | uppercase }}
      </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Statut du paiement"
        >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
          class="badge badge-pill badge-md badge-info"
          *ngIf="row.statutpaiement == 'Réglée'"
        >
          {{ row.statutpaiement | uppercase }}
        </span>
        <span
          class="badge badge-pill badge-md badge-danger"
          *ngIf="row.statutpaiement == 'Non Réglée'"
        >
          {{ row.statutpaiement | uppercase }}
        </span>
        </ng-template></ngx-datatable-column>
      <ngx-datatable-column name="Mode de paiement" prop="modepaiement.nom">
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Opérateur" prop="operateur">
      </ngx-datatable-column>
      <ngx-datatable-column name="Numéro de paiement" prop="contact">
      </ngx-datatable-column> -->
      <ngx-datatable-column
        name="Adresse de livraison"
        prop="adresse"
        [width]="200"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class=""
            ><strong>{{ row.adresse.nom }}, </strong></span
          >
          <span class=" ">{{ row.adresse.description }}</span>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column
        name="Montant Livraison (FCFA)"
        prop="montantlivraison"
      ></ngx-datatable-column> -->
      <!-- <ngx-datatable-column
        name="Contact Destinataire"
        prop="client.contact"
      ></ngx-datatable-column> -->
      <ngx-datatable-column name="Actions" [minWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="row px-1">
            <button
              (click)="openDetailProduit()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Détails"
              placement="bottom"
              class="btn btn-icon btn-warning btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
            </button>
            <button
              *ngIf="
                crudPerms.update &&
                (row.statut === 'Validée' || row.statut === 'Annulée')
              "
              (click)="openEtapeLivraison()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Etapes livraison"
              placement="bottom"
              class="btn btn-icon btn-primary btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"
                ><i class="fa-solid fa-signs-post"></i
              ></span>
            </button>
            <!-- <button
              *ngIf="crudPerms.update && row.statut === 'Enregistrée'"
              (click)="openValiderCommande()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Validé"
              placement="bottom"
              class="btn btn-icon btn-success btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-check"></i>
              </span>
            </button> -->
            <!-- <button
              *ngIf="
                crudPerms.update &&
                (row.statut === 'Enregistrée' || row.statut === 'Validée')&&(row.modepaiement.nom == 'Cash')
              "
              (click)="openRefuserCommande()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Annulé"
              placement="bottom"
              class="btn btn-icon btn-danger btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-circle-xmark"></i>
              </span>
            </button> -->
            <!-- <button
              *ngIf="
                crudPerms.update &&
(                row.statut === 'Validée' &&
                row.statutpaiement == 'Non Réglée')&&row.statut === 'Validée'
              "
              (click)="openPayementCommande()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Réglé"
              placement="bottom"
              class="btn btn-icon btn-success btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </span>
            </button> -->
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
