<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-default">Ajouter produit</h4>
    <hr class="my-4" />
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="formAddProduit">
      <div
        class="form-group row m-0 align-items-center mb-3"
        style="width: 100%"
      >
        <label for="catégorie-produit" class="form-control-label col-md-4"
          >Catégorie <span class="text-danger">*</span></label
        >
        <!-- <ngx-select-dropdown
          [instanceId]="'instance2'"
          formControlName="categorieid"
          [config]="config"
          [options]="listCategorie"
          class="col-md-4 p-0"
        ></ngx-select-dropdown> -->
        <ngx-select-dropdown
          [(ngModel)]="catSelected"
          formControlName="categorieid"
          (change)="selectionChanged($event)"
          [config]="config"
          [optionItemTemplate]="optionTemplate"
          [selectedItemTemplate]="optionTemplate"
          [options]="listCategorie"
          class="col-md-4 p-0"
        >
          <ng-template #optionTemplate let-item="item" let-config="config">
            {{ item.nom }}
          </ng-template></ngx-select-dropdown
        >
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="name-produit" class="form-control-label col-md-4"
          >Nom <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          type="text"
          id="name-produit"
          formControlName="nom"
          [maxLength]="32"
        />
      </div>

      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="catégorie-produit" class="form-control-label col-md-4"
          >Image(s)<span class="text-danger">*</span></label
        >
        <input
          #file2
          type="file"
          style="display: none"
          (change)="loadFile($event)"
          accept="image/png, image/jpg, image/jpeg"
        />
        <div class="col-md-8">
          <div class="row">
            <div
              *ngIf="this.fileTabSrc.length < 5"
              (click)="file2.click()"
              class="rounded border-primary border align-items-center p-1 col-md-3 m-1 row justify-content-center"
              style="
                min-height: 100px;
                width: fit-content;
                border-style: dashed !important;
                background-color: #dee2e6;
                cursor: pointer;
              "
            >
              <span><i class="fa-solid fa-plus"></i> UPLOAD</span>
            </div>
            <div
              *ngFor="let image of fileTabSrc"
              class="relative col-md-3 m-1 rounded border align-items-center p-1 m-1 row justify-content-center"
              style="width: 91px !important;position: relative;"
            >
              <img
                class="relative"
                [src]="image.data"
                style="position: relative;width: 100% !important; height: 100px !important"
                [alt]="image.name"
              />
              <div class="absolute" style="position: absolute; top: -10px; right:-7px; cursor: pointer;"
              (click)="removeImg(image.name)">
                <i class="fa-solid fa-circle-xmark text-danger"
                ></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <small class=""
                >Taille maximale de l'image <= 50 Ko,
                <a href="https://compressjpeg.com/fr/" target="_blank"
                  >réduire l'image</a
                >
              </small>
            </div>
          </div>
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="prix-produit" class="form-control-label col-md-4"
          >Prix <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          type="text"
          id="prix-produit"
          formControlName="prix"
        />
        <div
          *ngIf="
            formAddProduit.controls['prix'].status == 'INVALID' &&
            formAddProduit.controls['prix'].touched
          "
        >
          <small class="text-danger">Saisissez un entier supérieur à 0</small>
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="description" class="form-control-label col-md-4"
          >Description <span class="text-danger">*</span></label
        >
        <textarea
          class="form-control col-md-8"
          id="description"
          rows="3"
          formControlName="description"
        ></textarea>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="caratéristiques" class="form-control-label col-md-4"
          >Caractéristique <span class="text-danger"></span
        ></label>
        <textarea
          class="form-control col-md-8"
          id="caratéristiques"
          rows="3"
          formControlName="caracteristique"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      (click)="handleOk()"
      class="btn btn-primary"
      data-dismiss="modal"
      [disabled]="formAddProduit.invalid || !this.fileTabSrc.length"
    >
      <i class="fa-solid fa-spinner fa-spin" *ngIf="loading"></i>
      Ajouter
    </button>
    <button
      type="button"
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      (click)="closeModal()"
    >
      Annuler
    </button>
  </div>
</div>
