<div>
  <i
    class="fa-solid fa-star"
    [ngClass]="note >= 1 ? color : 'text-light'"
  ></i>
  <i
    class="fa-solid fa-star"
    [ngClass]="note >= 2 || note > (1.5)? color : 'text-light'"
  ></i>

  <i
    class="fa-solid fa-star"
    [ngClass]="note >= 3 || note > 2.5? color : 'text-light'"
  ></i>

  <i
    class="fa-solid fa-star"
    [ngClass]="note >= 4 || note > 3.5? color : 'text-light'"
  ></i>

  <i
    class="fa-solid fa-star"
    [ngClass]="note >= 5 || note > 4.5? color : 'text-light'"
  ></i>

  <!-- <i class="ni ni-satisfied mr-1" [ngClass]="note>=1?'text-yellow':'text-light'"></i>
    <i class="ni ni-satisfied mr-1" [ngClass]="note>=2?'text-yellow':'text-light'"></i>
    <i class="ni ni-satisfied mr-1" [ngClass]="note>=3?'text-yellow':'text-light'"></i>
    <i class="ni ni-satisfied mr-1" [ngClass]="note>=4?'text-yellow':'text-light'"></i>
    <i class="ni ni-satisfied mr-1" [ngClass]="note>=5?'text-yellow':'text-light'"></i> -->
</div>
