<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-default">Ajouter Administrateur</h4>
    <hr class="my-4" />
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="formAddAdmin">
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="name-admin" class="form-control-label col-md-4"
          >Nom <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          type="text"
          id="name-admin"
          formControlName="nom"
          placeholder="Nom et prénom"
        />
        <div
          *ngIf="
            formAddAdmin.controls['nom'].status == 'INVALID' &&
            formAddAdmin.controls['nom'].touched
          "
        >
          <small class="text-danger">Renseigner votre nom et prénom</small>
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="email-admin" class="form-control-label col-md-4"
          >Email<span class="text-danger"> *</span></label
        >
        <input
          class="form-control col-md-8"
          type="email"
          id="email-admin"
          formControlName="email"
          placeholder="mail@mail.com"
        />
        <div
          *ngIf="
            formAddAdmin.controls['email'].status == 'INVALID' &&
            formAddAdmin.controls['email'].touched
          "
        >
          <small class="text-danger">Saisissez une adresse mail correcte</small>
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="contact" class="form-control-label col-md-4"
          >Contact <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          type="text"
          id="contact"
          formControlName="contact"
          placeholder="0101010101"
        />
        <div
          *ngIf="
            formAddAdmin.controls['contact'].status == 'INVALID' &&
            formAddAdmin.controls['contact'].touched
          "
        >
          <small class="text-danger">Entrer un numéro à 10 chiffres</small>
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="password" class="form-control-label col-md-4"
          >Mot de passe <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          type="text"
          id="password"
          formControlName="motdepasse"
          [(ngModel)]="password"
        />
        <div
          *ngIf="
            formAddAdmin.controls['motdepasse'].status == 'INVALID' &&
            formAddAdmin.controls['motdepasse'].touched
          "
        >
          <small class="text-primary"
            ><span class="text-danger">*</span>Le mot de passe doit contenir au
            moins une lettre majuscule, un symbole , un nombre et minimum 8
            caractères</small
          >
        </div>
      </div>
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <label for="passwordConfirm" class="form-control-label col-md-4"
          >Confirmer mot de passe <span class="text-danger">*</span></label
        >
        <input
          class="form-control col-md-8"
          [(ngModel)]="passwordConfirm"
          formControlName="confirmepassword"

          placeholder="Confirmer mot de passe"
          type="text"
          id="passwordConfirm"
        />
        <div
          *ngIf="
            !(password === passwordConfirm) &&
            formAddAdmin.controls['confirmepassword'].touched
          "
        >
          <small class="text-danger"
            >Les mots de passe saisis ne correspondent pas. Veuillez vous
            assurer de saisir le même mot de passe dans les deux champs.</small
          >
        </div>
      </div>
      <div
        class="form-group row m-0 align-items-center mb-3"
        style="width: 100%"
      >
        <label for="position-produit" class="form-control-label col-md-4"
          >Rôle <span class="text-danger">*</span></label
        >
        <ngx-select-dropdown
          formControlName="role"
          [config]="config"
          [options]="listRole"
          class="col-md-4 p-0"
        ></ngx-select-dropdown>
        <div
          *ngIf="
            formAddAdmin.controls['role'].status == 'INVALID' &&
            formAddAdmin.controls['role'].touched
          "
        >
          <small class="text-primary"
            ><span class="text-danger">*</span>Sélectionner un rôle</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      (click)="closeModal()"
    >
      Annuler
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formAddAdmin.invalid"
      (click)="handleOk();closeModalOk()"
    >
      Ajouter
    </button>
  </div>
</div>
