<div class="modal-content bg-gradient-info text-white">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification text-white">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4 text-white">
          Êtes-vous sure de  vouloir rétirer la promotion: <strong>{{ produitSelect[0].promotion.nom }}</strong>
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onRemovePromotion(produitSelect[0].promotion.id, produitSelect[0].id); closeModalOk()"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="closeModal()"
      >
        Annuler
      </button>
    </div>
  </div>