<!-- MODAL MODIFICATION

<ng-template #classic1 let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title-default">Modifier produit</h4>
        <hr class="my-4" />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row" [formGroup]="formUpdate">
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="name-produit" class="form-control-label col-md-4"
              >Nom <span class="text-danger">*</span></label
            >
            <input
              class="form-control col-md-8"
              type="text"
              value="Savon tétrapleura"
              id="name-produit"
            />
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="catégorie-produit" class="form-control-label col-md-4"
              >Catégorie<span class="text-danger"> *</span></label
            >
            <select
              class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
              data-toggle="select"
              tabindex="-1"
              aria-hidden="true"
              data-gtm-form-interact-field-id="4"
              formControlName="select"
            >
              <option value="jours">Savon</option>
              <option value="semaine">Cheveux</option>
              <option value="mois">Lotion</option>
              <option value="Année">Crème</option>
            </select>
          </div>
  
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="images" class="form-control-label col-md-4"
              >Images <span class="text-danger">*</span></label
            >
            <input class="form-control col-md-8" type="file" id="imagest" />
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="prix-produit" class="form-control-label col-md-4"
              >Prix <span class="text-danger">*</span></label
            >
            <input
              class="form-control col-md-8"
              type="text"
              value="2700FCFA"
              id="prix-produit"
            />
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="prix-promotion" class="form-control-label col-md-4"
              >Taux réduction</label
            >
            <input
              class="form-control col-md-8"
              type="text"
              value="30%"
              id="prix-promotion"
            />
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="position-produit" class="form-control-label col-md-4"
              >Position affichage</label
            >
            <select
              class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
              data-toggle="select"
              tabindex="-1"
              aria-hidden="true"
              data-gtm-form-interact-field-id="4"
            >
              <option value="jours">1</option>
              <option value="semaine">2</option>
              <option value="mois">3</option>
              <option value="Année">4</option>
            </select>
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="description" class="form-control-label col-md-4"
              >Description <span class="text-danger">*</span></label
            >
            <textarea
              class="form-control col-md-8"
              id="description"
              rows="3"
            ></textarea>
          </div>
          <div
            class="form-group row m-0 justify-content-between align-items-center mb-3"
            style="width: 100%"
          >
            <label for="caratéristiques" class="form-control-label col-md-4"
              >Caractéristique <span class="text-danger">*</span></label
            >
            <textarea
              class="form-control col-md-8"
              id="caratéristiques"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onUpdateProduit(); c('Close click')"
        >
          Modifier
        </button>
        <button
          type="button"
          class="btn btn-link ml-auto"
          data-dismiss="modal"
          (click)="c('Close click')"
        >
          Annuler
        </button>
      </div>
    </div>
  </ng-template> -->