<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body mt-5">
      <!-- Card stats -->
      <div class="row justify-content-center">
        <!-- Card Nombre Client -->
        <app-card-stats-resume
          class="col-xl-3 col-lg-6"
          [total]="totalClients"
          [icon]="'fas fa-users'"
          [title]="'TOTAL CLIENT'"
          [iconClass]="
            'icon icon-shape bg-warning text-white rounded-circle shadow'
          "
        ></app-card-stats-resume>

        <!-- Card Nombre Total Produit  -->
        <app-card-stats-resume
          class="col-xl-3 col-lg-6"
          [total]="totalProd"
          [icon]="'fas fa-percent'"
          [title]="'TOTAL PRODUITS'"
          [iconClass]="
            'icon icon-shape bg-info text-white rounded-circle shadow'
          "
        ></app-card-stats-resume>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Card Graphique du chiffre d'affaire et total des commandes -->
  <app-card-stats-chart-orders-sales
    class="row"
  ></app-card-stats-chart-orders-sales>
  <div class="row mt-5">
    <!-- Tableau vente par zone et boutique -->
    <app-card-stats-sales-by-zone
      [listPeriode]="listPeriode"
      [listZone]="listZone"
      [configZone]="configZone"
      [configperiode]="configperiode"
      class="col-xl-6 mb-5 mb-xl-0"
    ></app-card-stats-sales-by-zone>

    <!-- Tableau produit les plus vendu par zone et boutique -->
    <app-card-stats-best-product
      [listZone]="listZone"
      [configZone]="configZone"
      class="col-xl-6 mb-5 mb-xl-0"
    >
    </app-card-stats-best-product>
  </div>

  <div class="row mt-5">
    <!-- PANIER MOYEN -->
    <app-card-stats-average-cart
      [listPeriode]="listPeriode"
      [listZone]="listZone"
      [configZone]="configZone"
      [configperiode]="configperiode"
      class="col-xl-6 mb-5 mb-xl-0"
    >
    </app-card-stats-average-cart>

    <!-- NOMBRE DE PRODUIT VENDU -->
    <app-card-stats-pay-means
      [listZone]="listZone"
      [configZone]="configZone"
      class="col-xl-6"
    >
    </app-card-stats-pay-means>
  </div>

  <!-- VALEUR DES VENTES PAR PRODUITS -->
  <!-- <div class="row mt-5">
    <div class="col-xl-12 align-items-center justify-content-center">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Valeur des ventes par produit</h2>
              <div class="col text-right">
                <a class="btn btn-sm btn-primary">Sélectionner période</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-revenuProduit" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
