<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <h2 class="modal-title ml-4 mr-2" id="modal-title-default">
        {{ produitSelect?.nom }}
      </h2>
      <span [class]="produitSelect.statut | color">{{
        produitSelect.statut
      }}</span>
    </div>
    <button
      type="button"
      class="close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- app.component.html -->
    <div class="row">
      <div class="col-md-6">
        <!-- image produit -->

        <div class="col" [style.marginBottom]="'40px'">
          <div
            [style]="
              produitSelect?.imageproduits.length
                ? 'background-image: url(' + getImg(lurl) + ')'
                : 'background-image: url(assets/img/undraw_Images_re_0kll.png)'
            "
            class="imgLogo"
          ></div>
          <!-- <lib-ngx-image-zoom
          [thumbImage]="myThumbnail"
            [fullImage]="getImg(lurl)"
          ></lib-ngx-image-zoom> -->
          <div *ngIf="produitSelect?.imageproduits.length" class="row mt-2">
            <div *ngFor="let item of produitSelect?.imageproduits">
              <div
                (click)="clicSurImg(item.url)"
                [style]="'background-image: url(' + getImg(item.url) + ')'"
                class="imgLogo2 mr-1"
              ></div>
            </div>
          </div>
          <h3 class="mt-2">{{ produitSelect?.prix }} FCFA</h3>
        </div>

        <!--  -->
      </div>
      <div class="col-md-6">
        <!-- <div class="row justify-content-between px-3" [style.marginBottom]="'30px'">
              <h2>{{produitSelect?.nom}}</h2>
              <h3 class="">{{produitSelect?.prix}}</h3>
          </div> -->

        <div [style.marginBottom]="'30px'">
          <h5>Boutique</h5>
          <p [style.fontSize]="'0.7rem'">{{ produitSelect?.boutique.nom }}</p>
        </div>

        <div [style.marginBottom]="'30px'">
          <h5>Categorie</h5>
          <p [style.fontSize]="'0.7rem'">{{ produitSelect?.categorie.nom }}</p>
        </div>

        <div class="" [style.marginBottom]="'30px'">
          <h5>Description</h5>
          <p [style.fontSize]="'0.7rem'">{{ produitSelect?.description }}</p>
        </div>

        <div class="" [style.marginBottom]="'30px'">
          <h5>Caractéristiques</h5>
          <p [style.fontSize]="'0.7rem'">
            {{ produitSelect?.caracteristique }}
          </p>
        </div>

        <div class="mb-10">
          <h5>Date de création</h5>
          <p [style.fontSize]="'0.7rem'">
            {{ produitSelect?.datecreation | date : "dd-MM-yyyy HH:mm" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="activeModal.dismiss('Cross click')"
    >
      Fermer
    </button>
  </div>
</div>
