<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-default">Détail de la commande</h4>
    <button
      type="button"
      class="close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center justify-content-center mb-3">
      <div class="col align-items-center justify-content-center text-center">
        <div class="row align-items-center">
          <span class="mb-0">
            <strong>Code commande: </strong>
            {{ infoDaTa.code }}
          </span>
        </div>
        <div class="row align-items-center">
          <span class="mb-0">
            <strong>Mode De paiement: </strong>
            {{ infoDaTa.modepaiement.nom }}
          </span>
        </div>
        <div class="row align-items-center">
          <span class="mb-0">
            <strong>Promotion: </strong>
            <span
              class="badge badge-pill badge-md badge-danger"
              *ngIf="infoDaTa.promotion"
            >
              -{{ infoDaTa.promotion.pourcentage }}%
            </span>
            <span *ngIf="!infoDaTa.promotion"> Aucune Promotion </span>
          </span>
        </div>
        <div class="row">
          <span class="mb-0">
            <strong>Contact destinataire: </strong>
            +225 {{ infoDaTa.client.contact }}
          </span>
        </div>
        <div class="row">
          <span class="mb-0">
            <strong>Date de création: </strong>
            {{ infoDaTa.datecreation | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </div>
        <div class="row">
          <span class="mb-0">
            <strong>Date de Livraison: </strong>
            {{ infoDaTa.datelivraison | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </div>
      </div>
      <div class="row" *ngIf="infoDaTa.operateur">
        <span class="mb-0">
          <strong>Opérateur: </strong>
          +225 {{ infoDaTa.client.contact }}
        </span>
      </div>
    </div>

    <div class="row align-content-center justify-content-between">
      <div class="col-12 dataTables_wrapper py-4 card px-4">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
            <strong>Panier</strong>
          </div>
        </div>
        <ngx-datatable
          class="bootstrap selection-cell"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="row"
          [summaryPosition]="'bottom'"
          [scrollbarH]="'true'"
          (sortable)="(false)"
          [limit]="5"
        >
          <ngx-datatable-column
            name="Produit"
            prop="produit.nom"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Prix unitaire (FCFA)"
            prop="prixunitaire"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Quantité"
            prop="quantite"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Disponible">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span
                *ngIf="row.estdisponible"
                class="badge badge-pill badge-md badge-success"
              >
                Oui
              </span>
              <span
                *ngIf="row.estdisponible==false"
                class="badge badge-pill badge-md badge-danger"
              >
                Non
              </span>
            </ng-template></ngx-datatable-column
          >
          <ngx-datatable-column
            name="Montant"
            prop="montant"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Actions">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="row px-1">
                <button
                  *ngIf="crudPerms.update &&(row.estdisponible==null)"
                  (click)="validerProduit(row.produit.id, true); closeModalOk()"
                  ngbTooltip="Validé"
                  placement="top"
                  class="btn btn-icon btn-success btn-sm"
                  type="button"
                >
                  <span class="btn-inner--icon">
                    <i class="fa-solid fa-check"></i>
                  </span>
                </button>
                <button
                  *ngIf="
                    crudPerms.update&&(row.estdisponible==null)
                  "
                  (click)="validerProduit(row.produit.id, false); closeModalOk()"
                  ngbTooltip="Refusé"
                  placement="bottom"
                  class="btn btn-icon btn-danger btn-sm"
                  type="button"
                >
                  <span class="btn-inner--icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </span>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

      </div>
    </div>

    <div class="row align-items-center justify-content-center mt-3">
      <div class="col-lg-7"></div>
      <div
        class="col-lg-3 align-items-center justify-content-center text-center"
      >
        <div class="row col align-items-center">
          <span class="mb-0 row justify-content-between">
            <span col> <strong>Montant: </strong> </span>
            {{ infoDaTa.montant }} FCFA
          </span>
        </div>
        <div class="row col align-items-center">
          <span col class="mb-0 row justify-content-between">
            <strong>Mode de livraison: </strong>
            {{ infoDaTa.montantlivraison }} FCFA
          </span>
        </div>
        <div class="row col">
          <span col class="mb-0 row justify-content-between">
            <strong>Montant total: </strong>
            {{ infoDaTa.montanttotal }} FCFA
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
