    <div class="modal-content bg-gradient-info text-white">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification">
          Votre attention est réquise
        </h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <i class="ni ni-bell-55 ni-3x"></i>
          <h4 class="heading mt-4 text-white">
            Voulez-vous valider la commande : <strong>#{{ infoDaTa.code }}</strong>
          </h4>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-white"
          (click)="onValideCommande(); closeModalOk()"
        >
          Oui, valider
        </button>
        <button
          type="button"
          class="btn btn-link text-white ml-auto"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Annuler
        </button>
      </div>
    </div>
