<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="h2 text-white d-inline-block mb-0 me-1">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">Promotions</h6>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-1 col-xs-1 text-left">
              <button
                *ngIf="crudPerms.create"
                class="btn btn-primary btn-md"
                (click)="open(classic3, '', 'sm')"
                placement="right"
                ngbTooltip="Ajouter promotion"
              >
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
    >
      <ngx-datatable-column name="Libelle">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.nom | uppercase }}</span>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column
        name="Code promo"
        prop="code"
      ></ngx-datatable-column> -->
      <ngx-datatable-column name="Réduction">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span><strong>{{ row.pourcentage}}%</strong></span>
        </ng-template></ngx-datatable-column
      >
      <ngx-datatable-column name="Début" prop="datedebut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.datedebut | date : "dd/MM/yyyy" }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Fin" prop="datefin">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.datefin | date : "dd/MM/yyyy" }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Statut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span [class]="row.statut | color">{{ row.statut }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date création">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.datecreation | date : "dd/MM/yyyy" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div>
            <button
              *ngIf="crudPerms.update"
              (click)="onUpdateRow(row); open(classic1, '', 'sm')"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Modifier"
              placement="left"
              class="btn btn-icon btn-primary btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"
                ><i class="fa-solid fa-pen-to-square"></i
              ></span>
            </button>
            <button
              *ngIf="crudPerms.delete"
              (click)="onDeleteRow(row.id); open(classic2, 'Notification', '')"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Supprimer"
              placement="right"
              class="btn btn-icon btn-danger btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-trash-can"></i>
              </span>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<!-- MODAL MODIFICATION PROMOTION-->
<ng-template #classic1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">
        Modifier promotion {{ idPromotionSelect }}
      </h4>
      <hr class="my-4" />
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="formUpdatePromotion">
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="name-produit" class="form-control-label col-md-4"
            >Nom <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="name-produit"
            formControlName="nom"
            [maxLength]="32"
          />
        </div>
        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="code-produit" class="form-control-label col-md-4"
            >Code <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="code-produit"
            formControlName="code"
            [maxLength]="32"
          />
        </div> -->
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Type promotion <span class="text-danger">*</span></label
          >
          <!-- <ngx-select-dropdown
            formControlName="typepromotionid"
            [config]="config"
            [options]="listPromotion"
            class="col-md-4 p-0"
          ></ngx-select-dropdown> -->
          <ngx-select-dropdown
            formControlName="typepromotionid"
            (change)="selectionChanged($event)"
            [config]="config"
            [optionItemTemplate]="optionTemplate"
            [selectedItemTemplate]="optionTemplate"
            [options]="listPromotion"
            class="col-md-8 p-0"
          >
          </ngx-select-dropdown>
          <ng-template #optionTemplate let-item="item" let-config="config">
            {{ item.nom }}
          </ng-template>
        </div>

        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Image<span class="text-danger"></span
          ></label>
          <input
            #fileProm
            type="file"
            style="display: none"
            (change)="loadFile($event)"
            accept="image/png, image/gif, image/jpeg"
          />
          <div class="col-md-8">
            <div class="row">
              <div
                *ngIf="!this.fileTab.length"
                (click)="fileProm.click()"
                class="rounded border-primary border align-items-center p-1 col-md-3 m-1 row justify-content-center"
                style="
                  min-height: 100px;
                  width: fit-content;
                  border-style: dashed !important;
                  background-color: #dee2e6;
                  cursor: pointer;
                "
              >
                <span><i class="fa-solid fa-plus"></i> UPLOAD</span>
              </div>

              <div
                *ngFor="let image of fileTabSrc"
                class="col-md-3 m-1 rounded border align-items-center p-1 m-1 row justify-content-center"
                [style]="'background-image: url(' + image + ')'"
                style="
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  min-height: 100px;
                  width: 91px !important;
                "
              >
                <i
                  (click)="removeImg(image)"
                  class="fa-solid fa-circle-xmark"
                  style="
                    position: absolute;
                    color: #c32830;
                    top: -7px;
                    right: -10px;
                    cursor: pointer;
                  "
                ></i>
              </div>
            </div>
          </div>
        </div> -->
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-produit" class="form-control-label col-md-4"
            >Taux de réduction (%)<span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="number"
            id="prix-produit"
            formControlName="pourcentage"
          />
        </div>
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Date début</label
          >
          <input
            type="date"
            class="form-control col-md-8"
            formControlName="datedebut"
            [(ngModel)]="dateDebutUpdate"
            [min]="mindate"
          />
        </div>
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Date fin</label
          >
          <input
            type="date"
            class="form-control col-md-8"
            bsDatepicker
            formControlName="datefin"
            [min]="dateDebutUpdate"
          />
        </div>
        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="description" class="form-control-label col-md-4"
            >Description</label
          >
          <textarea
            class="form-control col-md-8"
            id="description"
            rows="3"
            formControlName="description"
          ></textarea>
        </div> -->
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="handleOk1(); c('Close click')"
        class="btn btn-primary"
        data-dismiss="modal"
        [disabled]="formUpdatePromotion.invalid"
      >
        Modifier
      </button>
      <button
        type="button"
        class="btn btn-link ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<!-- MODAL SUPPRIMER PROMOTION  -->
<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">
          Voulez-vous supprimer promotion
          <strong>#{{ idPromotionSelect }}</strong>
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onDeletePromotion(idPromotionSelect); c('Close click')"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<!-- MODAL ADD PROMOTION -->
<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Ajouter promotion</h4>
      <hr class="my-4" />
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="formAddPromotion">
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="name-produit" class="form-control-label col-md-4"
            >Nom <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="name-produit"
            formControlName="nom"
            [maxLength]="32"
          />
        </div>
        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="code-produit" class="form-control-label col-md-4"
            >Code <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="code-produit"
            formControlName="code"
            [maxLength]="32"
          />
        </div> -->
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Type promotion <span class="text-danger">*</span></label
          >
          <ngx-select-dropdown
            formControlName="typepromotionid"
            [config]="config"
            [options]="listPromotion"
            class="col-md-4 p-0"
          ></ngx-select-dropdown>
        </div>

        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Image<span class="text-danger"></span
          ></label>
          <input
            #fileProm
            type="file"
            style="display: none"
            (change)="loadFile($event)"
            accept="image/png, image/gif, image/jpeg"
          />
          <div class="col-md-8">
            <div class="row">
              <div
                *ngIf="!this.fileTab.length"
                (click)="fileProm.click()"
                class="rounded border-primary border align-items-center p-1 col-md-3 m-1 row justify-content-center"
                style="
                  min-height: 100px;
                  width: fit-content;
                  border-style: dashed !important;
                  background-color: #dee2e6;
                  cursor: pointer;
                "
              >
                <span><i class="fa-solid fa-plus"></i> UPLOAD</span>
              </div>

              <div
                *ngFor="let image of fileTabSrc"
                class="col-md-3 m-1 rounded border align-items-center p-1 m-1 row justify-content-center"
                [style]="'background-image: url(' + image + ')'"
                style="
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  min-height: 100px;
                  width: 91px !important;
                "
              >
                <i
                  (click)="removeImg(image)"
                  class="fa-solid fa-circle-xmark"
                  style="
                    position: absolute;
                    color: #c32830;
                    top: -7px;
                    right: -10px;
                    cursor: pointer;
                  "
                ></i>
              </div>
            </div>
          </div>
        </div> -->
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-produit" class="form-control-label col-md-4"
            >Taux de réduction (%)<span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="number"
            id="prix-produit"
            formControlName="pourcentage"
          />
        </div>
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Date début</label
          >
          <input
            type="date"
            class="form-control col-md-8"
            formControlName="datedebut"
            [(ngModel)]="dateDebutpic"
            [min]="mindate"
          />
        </div>
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Date fin</label
          >
          <input
            type="date"
            class="form-control col-md-8"
            bsDatepicker
            formControlName="datefin"
            [min]="dateDebutpic"
          />
        </div>
        <!-- <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="description" class="form-control-label col-md-4"
            >Description</label
          >
          <textarea
            class="form-control col-md-8"
            id="description"
            rows="3"
            formControlName="description"
          ></textarea>
        </div> -->
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="handleOk(); c('Close click')"
        class="btn btn-primary"
        data-dismiss="modal"
        [disabled]="formAddPromotion.invalid"
      >
        Ajouter
      </button>
      <button
        type="button"
        class="btn btn-link ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>
