<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">
                Administrateurs
              </h6>
            </div>
            <div class="col-sm-1 col-md-2 col-lg-3 col-xl-6 text-left">
              <button class="btn btn-primary btn-md" (click)="openAddAdmin()">
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 col-md-6 row justify-content-end px-0">
          <form
            class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
          >
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: focus === true }"
            >
              <div class="input-group input-group-alternative">
                <input
                  class="form-control w-auto"
                  placeholder="Search"
                  type="text"
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text" style="cursor: pointer"
                    ><i
                      class="fas fa-search"
                      (click)="onSearchAdminByName()"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column name="Nom"></ngx-datatable-column>
      <ngx-datatable-column name="Email"> </ngx-datatable-column>
      <ngx-datatable-column name="Contact"></ngx-datatable-column>
      <ngx-datatable-column name="Création" prop="datecreation">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>
            {{ row.datecreation | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Dernière connexion"
        prop="datederniereconnexion"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>
            {{ row.datederniereconnexion | date : "dd/MM/yyyy HH:mm:ss" }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div>
            <a
              role="button"
              (click)="openUpdateAdmin(row)"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="fa-solid fa-pen-to-square mr-2"></i>
              <!-- <i class="fa-solid fa-pen"></i> -->
            </a>
            <a
              role="button"
              (click)="onDeleteRow(row.id);open(classic2, 'Notification', '')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="fa-solid fa-trash-can text-danger mr-2"></i>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


<!-- MODAL SUPPRIMER PRODUIT -->
<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">
          Voulez-vous supprimer produit <strong>#{{ idAdminSelect }}</strong>
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onDeleteAdmin(idAdminSelect); c('Close click')"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>
