<!-- MODAL MODIFICATION -->

<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-default">Attribuer promotion</h4>
    <hr class="my-4" />
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div
        class="form-group row m-0 justify-content-between align-items-center mb-3"
        style="width: 100%"
      >
        <button
          class="col-md-5 btn"
          [routerLink]="['/administration/catalogue/promotions']"
          (click)="closeModal()"
          type="button"
          [ngClass]="itemselected == 1 ? 'btn-primary' : 'btn-secondary'"
        >
        <i class="fa-solid fa-arrow-left"></i>
          Nouvelle Promotion
        </button>
      </div>
    </div>

    <!-- PROMOTION EXISTANTE -->
    <div class="row">
      <form [formGroup]="formAssignPromo">
        <div
          *ngIf="itemselected == 2"
          class="form-group row m-0 justify-content-between align-items-center"
        >
          <div
            class="form-group row m-0 justify-content-between align-items-center"
            style="width: 100%"
          >
            <label for="position-produit" class="form-control-label col-md-5"
              >Libellé produits</label
            >

            <div class="col-md-7 align-items-center">
              <span
                class="badge badge-pill badge-md badge-info m-1"
                *ngFor="let tag of produitSelect"
              >
                {{ tag.nom | uppercase }}
                <i class="fa-solid fa-xmark"  style="cursor: pointer;" (click)="removeProd(tag.id)"></i>
              </span>
            </div>
          </div>
          <div
            class="form-group row m-0 align-items-center"
            style="width: 100%"
          >
            <label for="position-produit" class="form-control-label col-md-5"
              >Sélectionner promotion</label
            >
            <ngx-select-dropdown
              [instanceId]="'instance2'"
              formControlName="promotionid"
              [config]="config"
              [options]="listPromotions"
              class="col-md-4 p-0"
            ></ngx-select-dropdown>
          </div>
          <div
            class="modal-footer form-group row m-0 justify-content-between align-items-center"
          >
            <button
              type="button"
              class="btn btn-link ml-auto"
              (click)="handleOk1(); onAddNewPromotionShow(2);  closeModalOk()"
            >
              Attribuer promotion
            </button>
            <button
              type="button"
              class="btn btn-link ml-auto text-danger"
              data-dismiss="modal"
              (click)="closeModal()"
            >
              Annuler
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>