<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
        style="    padding: 23px 0;
        "
      >
        <div class="col-lg-6 col-xl-5 col-md-12">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-4 col-sm-2 col">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">
                Prix livraison
              </h6>
            </div>
            <div
              class="col-lg-3 col-md-4 col-sm-1 col text-left"
              *ngIf="crudPerms.create"
            >
              <button
                class="btn btn-primary btn-md"
                (click)="openAddPrixLivraison()"
              >
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <div class="row">
      <div class="col">
        <strong> Prix de livraison</strong>
      </div>
    </div>
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selectAllRowsOnPage]="false"
    >
      <ngx-datatable-column name="Prix" prop="prix"></ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div>
            <button
            *ngIf="crudPerms.update"
            (click)="openAssignPrixLivraison()"
            data-target="#modal-form"
            data-toggle="modal"
            ngbTooltip="Assigner prix de livraison"
            placement="bottom"
            class="btn btn-icon btn-primary btn-sm"
            type="button"
          >
            <span class="btn-inner--icon">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          </button>
          <button
            *ngIf="crudPerms.delete"
            (click)="open(classic2, 'Notification', '')"
            data-target="#modal-form"
            data-toggle="modal"
            ngbTooltip="Supprimer"
            placement="bottom"
            class="btn btn-icon btn-danger btn-sm"
            type="button"
          >
            <span class="btn-inner--icon">
              <i class="fa-solid fa-trash-can"></i>
            </span>
          </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Prix par défaut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.isdefault">
            <i class="fa-solid fa-check text-success"></i>
          </span>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<!-- TABLEAU prix localisation-->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <div class="row">      <div class="col">
      <strong> Localisation et prix</strong>
    </div></div>
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="tempZonePrix"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page1.totalElements"
      [offset]="page1.pageNumber"
      [limit]="page1.size"
      [externalPaging]="'false'"
      (page)="setPage1($event)"
      [selectAllRowsOnPage]="false"
    >
      <ngx-datatable-column name="Zone">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            ><strong>{{ row.zone.nom }} </strong></span
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Prix" prop="prixlivraison"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- MODAL SUPPRIMER PRODUIT -->
<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">
          Voulez-vous supprimer prix de livraison
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onDeletePrixLivraison(activeRow.id); c('Close click')"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>
