<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-7 col-sm-2 col-xs-2">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">Produits</h6>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1 text-left">
              <button
                class="btn btn-primary btn-md"
                (click)="open(classic3, '', 'sm')"
              >
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 col-md-6 row justify-content-end px-0">
          <form
            class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
          >
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: focus === true }"
            >
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-search"></i
                  ></span>
                </div>
                <input
                  class="form-control w-auto"
                  placeholder="Search"
                  type="text"
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="'true'"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column name="Code"></ngx-datatable-column>
      <ngx-datatable-column name="Image">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <img
            *ngIf="row.homeworld"
            [src]="row.homeworld"
            alt="Image"
            style="max-height: 100px; max-width: 100px"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Produit"></ngx-datatable-column>
      <ngx-datatable-column name="Categorie"></ngx-datatable-column>
      <ngx-datatable-column name="Réduction"></ngx-datatable-column>
      <ngx-datatable-column name="Prix unitaire"></ngx-datatable-column>
      <ngx-datatable-column name="Dexcription"></ngx-datatable-column>
      <ngx-datatable-column name="Note">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-star-rating [note]="5"></app-star-rating>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Création"></ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div>
            <a
              role="button"
              (click)="open(classic1, '', 'sm')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="ni ni-bullet-list-67 mr-2" style="font-size: 14px"></i>
            </a>
            <a
              role="button"
              (click)="open(classic1, '', 'sm')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="ni ni-like-2 mr-2" style="font-size: 14px"></i>
            </a>
            <a
              role="button"
              (click)="open(classic2, 'Notification', '')"
              data-target="#modal-form"
              data-toggle="modal"
            >
              <i class="ni ni-fat-remove mr-2" style="font-size: 14px"></i>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<!-- MODAL MODIFICATION -->

<ng-template #classic1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Modifier produit</h4>
      <hr class="my-4" />
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row">
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="name-produit" class="form-control-label col-md-4"
            >Nom <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="Savon tétrapleura"
            id="name-produit"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Catégorie<span class="text-danger"> *</span></label
          >
          <select
            class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
            data-toggle="select"
            tabindex="-1"
            aria-hidden="true"
            data-gtm-form-interact-field-id="4"
          >
            <option value="jours">Savon</option>
            <option value="semaine">Cheveux</option>
            <option value="mois">Lotion</option>
            <option value="Année">Crème</option>
          </select>
        </div>

        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="images" class="form-control-label col-md-4"
            >Images <span class="text-danger">*</span></label
          >
          <input class="form-control col-md-8" type="file" id="imagest" />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-produit" class="form-control-label col-md-4"
            >Prix <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="2700FCFA"
            id="prix-produit"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-promotion" class="form-control-label col-md-4"
            >Taux réduction</label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="30%"
            id="prix-promotion"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Position affichage</label
          >
          <select
            class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
            data-toggle="select"
            tabindex="-1"
            aria-hidden="true"
            data-gtm-form-interact-field-id="4"
          >
            <option value="jours">1</option>
            <option value="semaine">2</option>
            <option value="mois">3</option>
            <option value="Année">4</option>
          </select>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="description" class="form-control-label col-md-4"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control col-md-8"
            id="description"
            rows="3"
          ></textarea>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="caratéristiques" class="form-control-label col-md-4"
            >Caractéristique <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control col-md-8"
            id="caratéristiques"
            rows="3"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onUpdateProduit(); c('Close click')"
      >
        Modifier
      </button>
      <button
        type="button"
        class="btn btn-link ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<!-- MODAL SUPPRIMER PRODUIT -->
<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">
          Voulez-vous supprimer produit <strong>#20</strong>
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onDeleteProduit(2); c('Close click')"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<!-- MODAL ADD PRODUIT -->
<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Ajouter produit</h4>
      <hr class="my-4" />
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="formAddProduit">
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="name-produit" class="form-control-label col-md-4"
            >Nom <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="Savon tétrapleura"
            id="name-produit"
            formControlName="nom"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Catégorie <span class="text-danger">*</span></label
          >
          <!-- <ngx-select-dropdown
            [instanceId]="'instance2'"
            (change)="selectionChanged($event)"
            formControlName="selectcategorie"
            [multiple]="true"
            [config]="config"
            [options]="dropdownOptions"
          ></ngx-select-dropdown> -->

          <!-- <select
            class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
            data-toggle="select"
            tabindex="-1"
            aria-hidden="true"
            data-gtm-form-interact-field-id="4"
          >
            <option value="jours">Savon</option>
            <option value="semaine">Cheveux</option>
            <option value="mois">Lotion</option>
            <option value="Année">Crème</option>
          </select> -->
        </div>

        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Image(s)<span class="text-danger"></span
          ></label>
          <input
            #file2
            type="file"
            style="display: none"
            (change)="loadFile($event)"
            accept="image/png, image/gif, image/jpeg"
          />
          <div class="col-md-8">
            <div class="row">
              <div
                (click)="file2.click()"
                class="rounded border-primary border align-items-center p-1 col-md-3 m-1 row justify-content-center"
                style="
                  min-height: 100px;
                  width: fit-content;
                  border-style: dashed !important;
                  background-color: #dee2e6;
                  cursor: pointer;
                "
              >
                <span><i class="fa-solid fa-plus"></i> UPLOAD</span>
              </div>

              <div
                *ngFor="let image of fileTab"
                class="col-md-3 m-1 rounded border align-items-center p-1 m-1 row justify-content-center"
                [style]="'background-image: url(' + image + ')'"
                style="
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  min-height: 100px;
                  width: 91px !important;
                "
              >
                <i
                  class="fa-solid fa-circle-xmark"
                  style="
                    position: absolute;
                    color: #c32830;
                    top: -7px;
                    right: -10px;
                  "
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-produit" class="form-control-label col-md-4"
            >Prix <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="2700FCFA"
            id="prix-produit"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-promotion" class="form-control-label col-md-4"
            >Taux réduction</label
          >
          <input
            class="form-control col-md-8"
            type="text"
            value="30%"
            id="prix-promotion"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="position-produit" class="form-control-label col-md-4"
            >Position affichage</label
          >
          <select
            class="btn btn-sm col form-control selectr-visible me-1 col-md-8"
            data-toggle="select"
            tabindex="-1"
            aria-hidden="true"
            data-gtm-form-interact-field-id="4"
          >
            <option value="jours">1</option>
            <option value="semaine">2</option>
            <option value="mois">3</option>
            <option value="Année">4</option>
          </select>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="description" class="form-control-label col-md-4"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control col-md-8"
            id="description"
            rows="3"
          ></textarea>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="caratéristiques" class="form-control-label col-md-4"
            >Caractéristique <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control col-md-8"
            id="caratéristiques"
            rows="3"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="onAddProduit(); c('Close click')"
        class="btn btn-primary"
        data-dismiss="modal"
      >
        Ajouter
      </button>
      <button
        type="button"
        class="btn btn-link ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

