<div class="header bg-gradient-danger pb-2 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div
        class="row align-items-center py-md-3 py-sm-5 px-0 justify-content-between"
      >
        <div class="col-lg-6 col-xl-5 col-md-4">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-7 col-sm-2 col-xs-2">
              <h6 class="h2 text-white d-inline-block mb-0 me-1">Produits</h6>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1 text-left">
              <button
                *ngIf="crudPerms.create"
                class="btn btn-primary btn-md"
                (click)="openAddproduit()"
              >
                <i class="ni ni-fat-add text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="container-fluid mt-5">
  <div class="dataTables_wrapper py-4 card px-4">
    <div class="row justify-content-start">
      <div class="col-6 mb-2" *ngIf="crudPerms.update">
        <button
          class="btn btn-success btn-sm"
          (click)="openAssignPromotion()"
          type="button"
          ngbTooltip="Selectionner un ou plusieurs produit"
          placement="top"
          [disabled]="!(selected.length && !verifiyItemPromed)"
        >
          Attribuer promotions
        </button>
        
      </div>

      <div class="col-4 mb-2" *ngIf="crudPerms.delete">
          <button
          class="btn btn-info btn-sm"
          (click)="getFichierProduit()"
          type="button"
          [disabled]="!(page.totalElements>0)"
        >
          <i class="fa-solid fa-download"></i>
          Exporter produits
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-md-2 mb-3 col-lg-4 col-xl-2">
        <ngx-select-dropdown
          [instanceId]="'instance3'"
          [(ngModel)]="statutselect"
          (change)="filterStatut()"
          [config]="configStatut"
          [options]="listStatut"
          class="col-md-2 p-0"
        ></ngx-select-dropdown>
      </div>
      <div class="col-md-6 mb-md-2 mb-3 col-lg-4 col-xl-2">
        <ngx-select-dropdown
          [instanceId]="'instance2'"
          [(ngModel)]="categorieselect"
          (change)="filterCategorie()"
          [config]="config"
          [options]="listCategorie"
          class="col-md-4 p-0"
        ></ngx-select-dropdown>
      </div>
      <div
        class="form-group mb-0 mb-3 col-md-12 col-lg-5 col-xl-3"
        [ngClass]="{ focused: focus === true }"
      >
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            class="form-control w-auto"
            [(ngModel)]="nomProduit"
            (input)="onsearchproduit($event)"
            placeholder="Rechercher par nom"
            type="text"
            (focus)="focus = true"
            (blur)="focus = false"
          />
        </div>
      </div>
    </div>
    <ngx-datatable
      class="bootstrap selection-cell"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="temp"
      [summaryPosition]="'bottom'"
      [scrollbarH]="'true'"
      (activate)="onActivate($event)"
      [loadingIndicator]="loadingIndicator"
      [virtualization]="'false'"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [externalPaging]="'false'"
      (page)="setPage($event)"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Position"
        prop="positionaffichage"
        [maxWidth]="60"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Image" prop="imageproduits">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <img
            *ngIf="row.imageproduits.length"
            [src]="getImg(row.imageproduits[0].url)"
            alt="Image"
            style="max-height: 100px; max-width: 100px"
            class="border rounded"
          />
          <img
            *ngIf="!row.imageproduits.length"
            src="assets/img/brand/undraw_Images_re_0kll.png"
            alt="Image"
            style="max-height: 100px; max-width: 100px"
            class="border rounded"
          />
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Nom" prop="nom"></ngx-datatable-column> -->
      <ngx-datatable-column name="Produit" prop="nom"></ngx-datatable-column>
      <ngx-datatable-column
        name="Categorie"
        prop="categorie.nom"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Prix unitaire">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>
            <span> {{ row.prix | number }} FCFA </span>
          </strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Promotion" prop="promotion">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            class="badge badge-pill badge-md badge-danger"
            *ngIf="row.promotion"
          >
            -{{ row.promotion.pourcentage }}%
          </span>
          <span *ngIf="!row.promotion"> Aucune Promotion </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Note moyenne" prop="notemoyenne">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-star-rating
            [note]="row.notemoyenne"
            [color]="'text-yellow'"
          ></app-star-rating>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Statut" prop="statut">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
          [class]="row.statut | color"
          >
            {{ row.statut | uppercase }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [minWidth]="300">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="row px-1">
            <button
              *ngIf="crudPerms.update"
              (click)="openDetailProduit()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Position affichage"
              placement="bottom"
              class="btn btn-icon btn-primary btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
            </button>
            <button
              *ngIf="crudPerms.update"
              (click)="openUpdateAffichage(row)"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Position affichage"
              placement="bottom"
              class="btn btn-icon btn-warning btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"
                ><i class="fa fa-crosshairs"></i
              ></span>
            </button>
            <button
              *ngIf="crudPerms.update"
              (click)="onUpdateRow(row); open(classic1, '', 'sm')"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Modifier produit"
              placement="bottom"
              class="btn btn-icon btn-primary btn-sm"
              type="button"
            >
              <span class="btn-inner--icon"
                ><i class="fa-solid fa-pen-to-square"></i
              ></span>
            </button>

            <button
              class="btn btn-icon btn-success btn-sm"
              type="button"
              *ngIf="!row.promotion"
              (click)="onSelect1(row); openAssignPromotion()"
              ngbTooltip="Attrinuer promotion"
              placement="bottom"
            >
              <span class="btn-inner--icon"><i class="fa fa-share"></i></span>
            </button>
            <button
              *ngIf="row.promotion"
              class="btn btn-icon btn-danger btn-sm"
              type="button"
              ngbTooltip="Retirer promotion"
              placement="bottom"
              (click)="onSelect1(row); openRemovePromotion()"
            >
              <span class="btn-inner--icon"><i class="fa fa-reply"></i></span>
            </button>

            <button
              *ngIf="crudPerms.update"
              (click)="onUpdateImgRow(row); openEditImages(row)"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Images"
              placement="bottom"
              class="btn btn-icon btn-info btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-image"></i>
              </span>
            </button>
            <button
              (click)="openCommentaireProduit()"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Avis et notes "
              placement="bottom"
              class="btn btn-icon btn-warning btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-star"></i>
              </span>
            </button>
            <button
              *ngIf="crudPerms.delete"
              (click)="onDeleteRow(row.id); open(classic2, 'Notification', '')"
              data-target="#modal-form"
              data-toggle="modal"
              ngbTooltip="Supprimer produit"
              placement="bottom"
              class="btn btn-icon btn-danger btn-sm"
              type="button"
            >
              <span class="btn-inner--icon">
                <i class="fa-solid fa-trash-can"></i>
              </span>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<!-- MODAL SUPPRIMER PRODUIT -->
<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">
        Votre attention est réquise
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">
          Voulez-vous supprimer produit <strong>#{{ idProduitSelect }}</strong>
        </h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-white"
        (click)="onDeleteProduit(idProduitSelect); c('Close click')"
      >
        Oui, supprimer
      </button>
      <button
        type="button"
        class="btn btn-link text-white ml-auto"
        data-dismiss="modal"
        (click)="c('Close click')"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<!-- MODAL MODIFICATION PRODUIT -->
<ng-template #classic1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Modifier produit</h4>
      <hr class="my-4" />
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="formUpdate">
        <div
          class="form-group row m-0 align-items-center mb-3"
          style="width: 100%"
        >
          <label for="catégorie-produit" class="form-control-label col-md-4"
            >Catégorie <span class="text-danger">*</span></label
          >
          <!-- <ngx-select-dropdown
            formControlName="categorieid"
            [config]="config"
            [options]="listCategorie"
            (change)="selectionChanged()"
            class="col-md-4 p-0"
          ></ngx-select-dropdown> -->

          <ngx-select-dropdown
            formControlName="categorieid"
            (change)="selectionChanged($event)"
            [config]="config"
            [options]="listCategorie"
            class="col-md-4 p-0"
          >
          </ngx-select-dropdown>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="name-produit" class="form-control-label col-md-4"
            >Nom <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="name-produit"
            formControlName="nom"
            [maxLength]="32"
          />
        </div>

        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="prix-produit" class="form-control-label col-md-4"
            >Prix <span class="text-danger">*</span></label
          >
          <input
            class="form-control col-md-8"
            type="text"
            id="prix-produit"
            formControlName="prix"
          />
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="description" class="form-control-label col-md-4"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control col-md-8"
            id="description"
            rows="3"
            formControlName="description"
          ></textarea>
        </div>
        <div
          class="form-group row m-0 justify-content-between align-items-center mb-3"
          style="width: 100%"
        >
          <label for="caratéristiques" class="form-control-label col-md-4"
            >Caractéristique <span class="text-danger"></span
          ></label>
          <textarea
            class="form-control col-md-8"
            id="caratéristiques"
            rows="3"
            formControlName="caracteristique"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="handleOk1(); c('Close click')"
        class="btn btn-primary"
        data-dismiss="modal"
      >
        <i class="fa-solid fa-spinner fa-spin" *ngIf="loadingupdate"></i>
        Modifier
      </button>
      <button
        type="button"
        class="btn btn-link ml-auto"
        data-dismiss="modal"
        (click)="c('Close click'); onResetFile()"
      >
        Annuler
      </button>
    </div>
  </div>
</ng-template>
